.w-100 {
  width: 100% !important;
}
.d-none {
  display: none !important;
}
.h-100 {
  height: 100% !important;
}
.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.flex-row {
  display: flex !important;
  flex-direction: row !important;
}
.flex-col {
  display: flex !important;
  flex-direction: column !important;
}
.responsive {
  width: 100%;
  height: auto;
}
.text-white {
  color: white !important;
}
.text-black {
  color: black !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-between {
  justify-content: space-between;
}
.text-center {
  text-align: center !important;
}
.btn-primary {
  width: 100%;
  height: 50px;
  background: $bg-secondary;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 40px;
}
.btn-secondary {
  width: 100%;
  height: 50px;
  background: $bg-teritary;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 40px;
}
.justify-content-between {
  justify-content: space-between !important;
}
.flex-end {
  align-items: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.title {
  min-height: 50px;
}
.align-center {
  align-items: center;
}
.text-danger {
  color: $bg-teritary;
}
.mb-1 {
  margin-bottom: 7px;
}
.me-1 {
  margin-left: 15px;
}
.p-0 {
  padding: 0px;
}
.px-5 {
  padding: 0 26px;
}
.white {
  color: white;
}
.font-small {
  font-size: 10px;
}
.center {
  display: flex;
  align-items: center;
}
.align-start {
  display: flex;
  align-items: flex-start !important;
}
