.content {
  overflow: visible;
  width: 100%;
  background: $black;
  height: 100%;
  margin-top: 90px;
  @include transition(all 0.3s);
  width: 100%;
  &.active {
    margin-left: 130px;
    @media (max-width: $large) {
      margin-left: 0px;
    }
  }
}
.main-content-area {
  @include transition(all 0.3s);
  margin-left: 78px;
  @media (max-width: $large) {
    margin-left: 0px;
  }
  &.open {
    margin-left: 250px;
    .stats {
      padding: 10px;
      .flex-column {
        margin-right: 15px;
      }
    }
  }
  .container {
    padding: 15px;
  }
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: $bg-primary;
}
body {
  overflow: hidden;
}
#root {
  overflow: hidden;
  overflow-y: scroll;
}
.main-container {
  display: flex;
  flex-direction: row;
  @media (max-width: 1550px) {
    .MuiGrid-item {
      margin: 25px auto;
    }
  }
}
.container {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}
.text-secondary {
  color: $bg-secondary;
}
.MuiGrid-item {
  height: 175px;
}
.MuiGrid-container {
  height: fit-content;
}
.secondary-theme {
  &::after {
    border: 10px dotted $white;
    width: 100%;
    height: 100%;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
  &.center {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
.linear {
  padding-left: 50px !important;
  padding-right: 50px !important;
  color: $white;
  p {
    font-size: 14px;
  }
}
.linear-progress {
  color: $application-color;
  .round-dot {
    position: relative;
    &::after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $white;
      position: absolute;
      content: '';
      left: -10px;
      top: 50%;
      transform: translate(-0%, -50%);
    }
    &.app {
      color: $application-color;
      &::after {
        background-color: $application-color;
      }
    }
    &.short {
      color: $bg-secondary;
      &::after {
        background-color: $bg-secondary;
      }
    }
    &.rej {
      color: $bg-teritary;
      &::after {
        background-color: $bg-teritary;
      }
    }
    &.hold {
      color: $hold-app-color;
      &::after {
        background-color: $hold-app-color;
      }
    }
    &.pay {
      color: $pay-color;
      &::after {
        background-color: $pay-color;
      }
    }
  }
  small {
    white-space: nowrap;
    margin-left: 10px;
    width: 91px;
    text-overflow: ellipsis;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .MuiLinearProgress-root {
    width: 100%;
    background-color: #464847;
  }
  .app {
    .MuiLinearProgress-barColorPrimary {
      background-color: $application-color;
    }
  }
  .rej {
    .MuiLinearProgress-barColorPrimary {
      background-color: $bg-teritary;
    }
  }
  .hold {
    .MuiLinearProgress-barColorPrimary {
      background-color: $hold-app-color;
    }
  }
  .pay {
    .MuiLinearProgress-barColorPrimary {
      background-color: $pay-color;
    }
  }
}
.box {
  width: 300px;
  justify-content: space-between;
  position: relative;
  margin-top: 25px;
  &::before {
    border-left: 1px solid $border-color;
    height: 100px;
    position: absolute;
    left: 50%;
    content: '';
  }
  .flex-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .flex-row {
      color: $bg-secondary;
    }
  }
}
.statistics {
  .stats {
    flex-direction: row !important;
    @media (max-width: $medium) {
      flex-direction: column !important;
    }
  }
}
.stats {
  border: 1px solid;
  border-radius: 7px;
  border-color: $border-color;
  padding: 30px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1600) {
    flex-direction: column !important;
  }
}
.border {
  border: 1px solid;
  border-radius: 7px;
  border-color: $border-color;
}
.center-box {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}
.doughnut {
  margin-top: 0px;
  p {
    font-size: 14px;
  }
  @media (max-width: $medium) {
    margin-top: 300px;
  }
}
